alpaca-py
apscheduler
beautifulsoup4
chromadb
edgartools
fastapi
feedparser
FlagEmbedding
numpy
pandas
playwright
pydantic
python-dotenv
pytz
requests
safetensors
spacy
torch
tqdm
transformers
uvicorn
pywebview
yfinance
